# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Netbeans
.settings
**/.nb-gradle-properties
**/.nb-gradle/
**/nbproject/

# Eclipse
.classpath
.project
.settings
.springBeans

# Intellij
.idea/
*.iml
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Application configuration, including log/pass
server/movies-mananger/src/main/resources/application.properties