<!-- HEADER -->
<header id="main-header " class="py-2 bg-success text-white ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 ">
                <h1>
                    <i class="fa fa-sort-amount-desc " aria-hidden="true "></i> Best Movies
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- TABLE BEST -->
<section id="tablebest " class="py-5 ">
    <div class="container ">
        <div class="row ">
            <table class="table table-striped table-hover best-table ">
                <thead>
                    <tr class="table-success ">
                        <th>Id</th>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Director</th>
                        <th>Actor(s)</th>
                        <th>Created At</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a860fdcc-1d27-4417-b473-97f77e933f26</td>
                        <td>MyAwesomeMovie</td>
                        <td>3.88</td>
                        <td>Ken Block</td>
                        <td>John Snow, Christina Jake</td>
                        <td>2016006-07T09:53:42.523</td>
                        <td><button type="button " class="btn btn-danger btn-sm ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>a860fdcc-1d27-4417-b473-97f77e933f26</td>
                        <td>MyAwesomeMovie</td>
                        <td>3.88</td>
                        <td>Ken Block</td>
                        <td>John Snow, Christina Jake</td>
                        <td>2016006-07T09:53:42.523</td>
                        <td><button type="button " class="btn btn-danger btn-sm ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>a860fdcc-1d27-4417-b473-97f77e933f26</td>
                        <td>MyAwesomeMovie</td>
                        <td>3.88</td>
                        <td>Ken Block</td>
                        <td>John Snow, Christina Jake</td>
                        <td>2016006-07T09:53:42.523</td>
                        <td><button type="button " class="btn btn-danger btn-sm ">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>